// Sizes

$navbar-height: 80px;
$footer-height: 80px;

// Collors

$blue-rgb: rgb(82, 192, 220);
$blue: #52c0dc; //hex
$darck-blue: #002040;



// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-thin:      "Helvetica Neue Thin", Arial, "Noto Sans", sans-serif;
$font-family-bold:      "Helvetica Neue Bold", Arial, "Noto Sans", sans-serif;

$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300;
$font-weight-normal:          500;
$font-weight-bold:            700;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 3.5; //56px

$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;